<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SC.Sitecore.Analytics" version="8.2.1" targetFramework="net452" />
  <package id="SC.Sitecore.Analytics.Core" version="8.2.1" targetFramework="net452" />
  <package id="SC.Sitecore.Kernel" version="8.2.1" targetFramework="net452" />
  <package id="SC.Sitecore.Social" version="8.2.1" targetFramework="net452" />
  <package id="SC.Sitecore.Social.Client" version="8.2.1" targetFramework="net452" />
  <package id="SC.Sitecore.Social.Client.Common" version="8.2.1" targetFramework="net452" />
  <package id="SC.Sitecore.Social.Configuration" version="8.2.1" targetFramework="net452" />
  <package id="SC.Sitecore.Social.Infrastructure" version="8.2.1" targetFramework="net452" />
</packages>
